*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

body{
    background-color: rgb(36, 39, 36);
}
.mainDesk{
    position: relative;
    text-align: center;
    width: 90vw;
    max-width: 600px;
    height: 70%;
    margin: 3% auto;
    padding-bottom: 6%;
    background-color: rgb(62, 121, 62);
    border: .3em ridge ;
    border-top-color: rgb(160, 231, 150);
    border-left-color: rgb(160, 231, 150);
    border-bottom-color: rgb(30, 100, 30);
    border-right-color: rgb(30, 100, 30);
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}
h2{
    font-size: large;
    position: relative;
    margin: 5% 10%;
    text-shadow: 3px 3px  4px rgb(16, 27, 16);
}
.compSide>h2{
    color: rgb(218, 139, 139);
}
.playerSide>h2{
    color: rgb(134, 165, 231);
}
/* --------------------------------Cards------------------------- */

.card{  
    position: relative;
    background-color: transparent;
    margin-left: 10%;
    margin-top: 5%;
    width: 113px;
    height: 157px;
    box-shadow: 2px 2px 6px 4px #2b2e2c;
    perspective: 800px;
    border-radius: 10px;
}
.cardInner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}.emptyCard{
    position: absolute;
    left: 0%;
    background-image: url("./img/back.jpg");
    box-shadow: -2px -2px 2px 2px #a0b9a3;
    width: 113px;
    height: 157px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.cardBack, .cardFront {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 10px;
}  
.cardBack {
    transform: rotateY(180deg);
}  
img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 113px;
    height: 157px;
}
/* --------------------Buttons------------------------ */
.buttons{
    position: relative;
    width: 90%;
    max-width: 700px;
    margin: 5% auto;
    display: flex;
    justify-content: space-around;
}
button{
    position: relative;
    font-size: 1200;
    width: 9em;
    padding: 1em;
    border-radius: .8em;
    cursor: pointer;
}
.invis{
    visibility: hidden;
}
/* =============================================================== */

.longMoveCompWin {
    animation: longMoveCw 0.5s forwards linear;
    z-index: 3;
}
@keyframes shortMoveCw {
    0%   {transform: translateX(140%) translateY(0%) rotateY(180deg)}
    25%   {transform: translateX(160%) translateY(50%) rotateY(180deg)}
    50%   {transform: translateX(100%) translateY(110%) rotateY(180deg)}
    100% {transform: translateX(0%) translateY(120%) rotateY(0deg)}
}
.shortMoveCompWin {
    animation: shortMoveCw 0.5s forwards linear;
    z-index: 5;
}
@keyframes longMoveCw {
    0%   {transform: translateX(140%) translateY(0%) rotateY(180deg)}
    50%   {transform: translateX(120%) translateY(-20%) rotateY(180deg)}
    100% {transform: translateX(0%) translateY(0%) rotateY(0deg)}
}
.longMovePlayerWin {
    animation: longMovePw 0.5s forwards linear;
    z-index: 5;
}
@keyframes shortMovePw {
    0%   {transform:translateX(140%) translateY(0%) rotateY(-180deg)}
    25%   {transform:translateX(160%) translateY(-50%) rotateY(-180deg)}
    50%   {transform:translateX(100%) translateY(-110%) rotateY(-180deg)}
    100% {transform:translateX(0%) translateY(-120%) rotateY(0deg)}
}
.shortMovePlayerWin {
    animation: shortMovePw 0.5s forwards linear;
    z-index: 3;
}
@keyframes longMovePw {
    0%   {transform: translateX(140%) translateY(0%) rotateY(-180deg)}
    50%   {transform: translateX(120%) translateY(20%) rotateY(-180deg)}
    100% {transform: translateX(0%) translateY(0%) rotateY(0deg)}
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.bringThemFaceDown {
    animation: bringInFd 0.5s forwards linear;
    z-index: 6;
    box-shadow: none;
    visibility: visible;
}
@keyframes bringInFd {
    0%   {transform: translateX(0%) translateY(0%) rotate(360deg)}
    100% {transform: translateX(140%) translateY(0%) rotate(30deg)}
}
.cleanFaceDown {
    animation: warMove 0.2s forwards linear;
    z-index: 2;
}
@keyframes warMove {
    0%   {transform: translateX(140%) translateY(0%) rotate(0deg)}
    100% {transform: translateX(0%) translateY(0%) rotate(0deg)}
}
.bringThemIn {
    animation: bringIn 0.5s forwards linear;
    z-index: 5;
}
@keyframes bringIn {
    0%   {transform: translateX(0%) translateY(0%) rotateY(0deg)}
    100% {transform: translateX(140%) translateY(0%) rotateY(-180deg)}
}